# mistralai
arch==7.1.0
datetime==3.0.3
doit
ipywidgets==8.1.5
jupyter
linkify-it-py
matplotlib
myst-nb
myst-parser
numpy
openpyxl==3.1.3
pandas==2.2.3
pandas-datareader
polars
plotly
psycopg2-binary==2.9.10
pyarrow
pydata-sphinx-theme==0.16.1
pytest==8.3.4
python-decouple
ruff
scikit-learn
scipy
seaborn==0.13.2
setuptools==75.6.0
sphinx-book-theme
statsmodels==0.14.3
thefuzz
toml
torch==2.6.0
wrds==3.2.0
yfinance==0.2.43